<h1>{{title}}</h1>
<h1 appRedEl>{{title}}</h1>v
<!-- reactive forms /validation-->
<!-- <h1>{{title}}</h1> -->
<!-- <form [formGroup]="loginform" (ngSubmit)="loginUser()">
   <input type="text" placeholder="Enter Name" name="name" formControlName="user"><br><br>
   <span style="color:red;" *ngIf="user && user.invalid && user.touched"   >This field is not valid</span> 
   <br><br>
   <input type="password" placeholder="Enter Password" name="password" formControlName="password">
   <span style="color:red;" *ngIf="password&& password.invalid && password.touched"   >This field is not valid</span> 
   <br><br>
   <button [disabled]="loginform.invalid"  >Login</button>

</form> -->
<!-- Template Driven Forms
<form #loginform="ngForm" (ngSubmit)="userLogin(loginform.value)">
   <input type="text " placeholder="Enter Name" name="name" ngModel>
   <br><br>
   <input type="password" placeholder="Enter Password" name="password" ngModel>
   <br><br>
   <button>login</button>
</form> -->
<!-- <button (click)="userLogin(loginform.value)">Out Side Login</button> -->


<!-- angular custom pipes  -->
<!-- <h2>{{20 | usdInr : 72}}</h2>   -->
<!-- Angualr Pipes  -->
<!-- <h1>{{ title | uppercase}}</h1> 
<h1>{{ title | slice : 3  : 6 | uppercase}}</h1> 
<h3>{{user | json | uppercase}}</h3>
<h3>{{ 2.3 | number:'3.3-5'}}</h3>
<h2>{{20 | currency: 'INR'}}</h2> -->
<!-- Angular Pipes -->
 <!-- <h1>{{ title | uppercase}}</h1> 
 <h1>{{ title | lowercase}}</h1> 
 <h2>{{today | date : 'fullDate  '}}</h2> -->

<!-- Template Reference Variable -->
<!-- <h1>{{ title }}</h1> 
<input type="text" #box>
<button (click)="getVal(box.value)">Call Function</button> -->
<!-- Two Way Data Binding

<input type="text" [(ngModel)]="name"> -->

<!-- <h3>{{name}}</h3> -->


<!-- send data child to parent component -->
<!-- <app-child (updateDataevent)="updateData($event)"></app-child> -->

<!-- Reusable Component
<ul *ngFor="let user of userDetails">
<app-user-details [item]='user'></app-user-details>

</ul> -->


<!--  send data child to parent Component -->
<!-- <app-child [item] = "data"></app-child>
<button (click)="updatechild()">Update Child Component</button> -->
<!-- Todo list -->
<!-- <input type="text" placeholder="Enter New Task" #task>
<br><br>
<button (click)="addtask(task.value)">Add Task</button>
<ul *ngFor="let item of list">
   <li>{{item.name}}</li><button (click)="removetask(item.id)">Remove Task</button>

</ul>  -->

<!-- Angular Material -->

<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle>
<div class="example-button-row">
   <button mat-raised-button>Basic</button>
   <button mat-raised-button color="primary">Primary</button>
   <button mat-raised-button color="accent">Accent</button>
   <button mat-raised-button color="warn">Warn</button>
   <button mat-raised-button disabled>Disabled</button>
   <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
 </div>
 <div class="demo-section">
   Button with a badge on the left
   <button mat-raised-button color="primary"
       matBadge="8" matBadgePosition="before" matBadgeColor="accent">
     Action
   </button>
 </div> -->


<!-- Toggle button  -->
<!-- <button (click)="toggle()">Toggle</button>
<h1 *ngIf="display">
   Heading Tag
</h1> -->
<!-- basic form  -->
<!-- <form #basicform="ngForm" (ngSubmit)="getdata(basicform.value)">
   <input type="text" ngModel name="name" placeholder="Enter User Name"/>
   <br/><br/>
   <input type="text" ngModel name="email" placeholder="Enter User Email"/>
   <br/><br/>
   <input type="text" ngModel name="password" placeholder="Enter User Password"/>
   <br/><br/>
   <button>Register  </button>
</form>
<ul>
   <li>{{userData.name}}</li>
   <li>{{userData.email}}</li>
   <li>{{userData.password}}</li>
</ul> -->
<!-- <app-header></app-header> -->

<!-- Style binding -->


<!-- <h1 [style.color]="color" [style.backgroundColor]="bgColor">{{title}}</h1>
<button (click)="updatecolor()">Update Color</button>
 -->

<!-- Nested Loop  -->
<!-- <ul *ngFor="let user of users">
   <li>Name :{{user.name}}</li>
   <li>Phone :{{user.phone}}</li>
   <li>SocialAccounts<li>
   <ul *ngFor = "let account of user.socialAccounts">
      <li>{{account}}</li>
   </ul>
</ul> -->
<!-- ngFor loop condition -->
<!-- <h2 *ngFor="let items of users">Name is :{{items}}</h2>
<h2 *ngFor="let items of userDetail">{{items.name}}--{{items.email}}--{{items.phone}}</h2> -->


<!-- <h1>{{getValue()}}</h1>
<h1>{{2+2}}</h1>
 <h1>{{title=="blog"}}</h1>  -->
<!-- <app-login></app-login> -->
<!-- <button (click)="getName()">Click Me</button> -->
<!-- <button (click)="getValue('addy')">Click Me</button> -->
<!-- <button (click)= "getData('Hello')">Call Function </button>
<br/>
<input type="text" #box (keyup)="getData(box.value)" placeholder="event keyup"/><br/>
<input type="text" #box1 (keydown)="getData(box1.value)" placeholder="event keydown"/><br/>
<input type="text" #box2 (blur)="getData(box2.value)" placeholder="event blur"/><br/>
<input type="text" #box3 ((input))="getData(box3.value)" placeholder="event input"/>

<h1 (mouseover) ="getData('over')">code</h1><br/><br/>
<h1 (mouseleave) ="getData('leave')">code</h1> -->

<!-- <input type="text"#box placeholder="Enter Name" name="name"/>

<button (click)="getValue(box.value)">Click </button>
<P>
   Box Value is : {{displayVal}}
</P> -->
<!-- <button (click)="counter('minus')">--</button>
<p>
   Count is: {{count}}
</p>
<button (click)="counter('add')">++</button> -->
<!-- <style>
   .heading{
      color: blue;
   }
</style>
<app-login></app-login> -->
<!-- property  binding -->
<!-- 
<input type="text" name="user name" value={{name}} disabled = {{disable}}>
<br/>
<br/>
<input type="text" name="user name" [value]=name [disabled] = disable > -->

<!-- if-else condition -->
<!-- <h1 *ngIf="show; then ifblock else elseblock"></h1>
<ng-template #ifblock>if condition</ng-template>
<ng-template #elseblock>
   <h1>Else Condition</h1>
</ng-template> -->
<!-- Else-If condition -->
<!-- <ng-template [ngIf]="color==='red'">
   <h1 style="color: red;">Red Color</h1>
</ng-template>
<ng-template [ngIf]="color==='green'">
   <h1 style="color: green;">green Color</h1>
</ng-template>
<ng-template [ngIf]="color==='blue'">
   <h1 style="color: blue;">blue Color</h1>
</ng-template> -->
<!-- switch case condition  -->
<!-- <div [ngSwitch]="color">
   <h1 *ngSwitchCase="'red'" style="color:red">red color</h1>
   <h1 *ngSwitchCase="'blue'" style="color:blue">blue color</h1>
   <h1 *ngSwitchCase="'green'" style="color:green">green color</h1>
   <h1 *ngSwitchDefault >Unknown color</h1>

</div> -->


<!-- bootstrap nav -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="#">Navbar</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
 
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
         <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">Link</a>
       </li>
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Dropdown
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="#">Action</a>
           <a class="dropdown-item" href="#">Another action</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="#">Something else here</a>
         </div>
       </li>
       <li class="nav-item">
         <a class="nav-link disabled" href="#">Disabled</a>
       </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
       <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
     </form>
   </div>
 </nav> -->